{% extends  'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row ">
    <div class="col-md-6 offset-md-3 mt-2 ">
        <div class="card  auth-card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
        
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-primary btn-block mt-2">Get in</button>
                </form>
                <p1 class="change-form-p">Already have a login? <a href="{% url 'login'%}">Click here!</a></p1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

